.shows
{
    width: 100%;
    background-color: #060707;
    padding: 10px 2%;
}

.showsParent
{
    width: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
}
<<<<<<< HEAD

=======
>>>>>>> 2eec4a898327cf6814c7ee78b4fabde5e9ec9124
